.input-box {
  padding: 1rem;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.input-box::placeholder {
  color:rgb(13, 42, 77, 0.5);
  font-weight: 400;
  font-size: 1.6rem;
}
